html
    head
        title merhaba pug

    body
        //değişken tanımlama
        - var okul = 'Ankara Üniversitesi'
        - var sehir = 'Ankara'

        =okul
        br
        | Bulunduğu Şehir #{sehir.toUpperCase()}

        hr
        // İf kulanımı;
        - var sayi = 13;

        if !sayi
             | Sayı Değişkeni Yok !
        else if sayi === 12
             | Sayı 12
        else
             | Sayı 12 değil !

        hr

        =job
        //Değişkeni tek başına yazmak istersek.
        br
        span(style ="color : orange ; background-color: darkgreen") Merhaba Pug :) #{name}
        //Değişkeni string ifadeden sonra yazmak istersek
        br
        //Pug dosyasının içine farklı bir pug dosyası include etmek.
        inculude footer

        hr

        //Döngü ;
        ul
             each val in [1, 2, 3, 4, 5]
                  li= val
